@charset "UTF-8";
@font-face {
    font-family: fonteP;
    src: url('arquivos/ComicNeueSansID.ttf')
    format('truetype')
}
*{
margin: 0px;
padding: 0px;

}

:root{

--color01: black;

--color02: white;
--fonte-h1: "Arial", sans-serif;

--fonte-p: "fonteP" , arial, sans-serif;
}

body{
    min-height: 100vh;
}
header{
color: var(--color02);
    background-color: var(--color01);
    padding: 20px;
    min-height: 150px;
    text-align: center;
    font-family: var(--fonte-h1);
    
}

h1{
    
font-size: 50px;
padding: 10px;
}

a{
color: var(--color02);
    text-decoration: none;

}

a:hover{

    text-decoration: underline;
}
section{

   
}
p{    
    font-family: var(--fonte-p);
}

article{

    max-width: 500px;
    max-height: 500px;
}

