@charset "UTF-8";
@font-face {
    font-family: fonteP;
    src: url('arquivos/ComicNeueSansID.ttf')
    format('truetype')
}
*{
margin: 0px;
padding: 0px;

}

:root{

--color01: black;

--color02: white;
--fonte-h1: "Arial", sans-serif;

--fonte-p: "fonteP" , arial, sans-serif;
}

body{
    min-height: 100vh;
}
header{
color: var(--color02);
    background-color: var(--color01);
    padding: 20px;
    min-height: 150px;
    text-align: center;
    font-family: var(--fonte-h1);
    
}

h1{
    
font-size: 50px;
padding: 10px;
}

a{
color: var(--color02);
    text-decoration: none;

}

a:hover{

    text-decoration: underline;
}
section{
min-height: 500px;
max-height: 700px;
margin: 50px auto 50px 30px;
max-width: 500px;
   
}
section p{    
    font-family: var(--fonte-p);
    font-size: 2em;
    padding: 10px;
   
}

article{
    
   padding: 20px;

}

article#versoimagem1{

background: var(--color01) url('arquivos/flor.jpg') left center no-repeat fixed;
background-size: cover;
}

article#versoimagem1 section{
    background-color: rgba(0, 0, 0, 0.5);
   color: var(--color02);
   border-radius: 10px;
   padding: 10px;
   
}
article#versoimagem2{

    background: var(--color01) url('arquivos/papel.jpg') left center no-repeat fixed;
    background-size: cover;
    }

    article#versoimagem2 section{
        background-color: rgba(0, 0, 0, 0.5);
       color: var(--color02);
       border-radius: 10px;
       padding: 10px;
       
    }

    footer{
background-color: var(--color01);
        color: var(--color02);
        text-align: center;
    }

